#main-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  position: relative
}

.img-gradient {
  position: relative;
}

.img-gradient::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.img-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.img-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
}

.burger-background {
  top: 30px;
  right: 30px;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.burger-content {
  background-image: no-repeat center/80% url("/media/icons/menu_icon.svg");
  position: relative;
  margin: auto;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
}
.main-navbar {
  height: 75px;
  width: 80vw;
  max-width: 1135px;
  margin: auto;
}
@media screen and (max-width: 650px) {
  .main-navbar {
    max-width: 1135px;
  }
}

.navbar-item {
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-item:hover {
   background-color: transparent !important;
}

.navbar-item img {
  width: auto;
  height: 46px;
  max-height: 46px;
}

.top-page-wrapper {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  width: auto;
  display: grid;
  flex-direction: column;
  justify-content: center;
}
.burger {
  text-align: left;
}
.logo {
  text-align: left;
}
.main-article-title-background {
  height: auto;
  width: 70vw;
  max-width: 1135px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 8vh;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.header-and-subheader {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vh;
}
.main-article-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70vw;
  max-width: 1135px;
  justify-self: center;
  border-radius: 15px;
  border: 3px solid transparent;
  backdrop-filter: blur(5px);
  background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.356),
      rgba(255, 255, 255, 0.034),
      rgba(255, 226, 206, 0.26)
    )
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.safari-specific {
    display: none;
}
_::-webkit-full-page-media, _:future, :root .safari-specific {
  display: flex !important;
  height: calc(100% - 8vh - 75px) !important;
  position: absolute;
  left: inherit;
  width: 70vw;
  height: auto;
  max-width: 1135px;
  justify-self: center;
  border-radius: 15px;
  border: 3px solid transparent;
  backdrop-filter: blur(5px);
  background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.356),
      rgba(255, 255, 255, 0.034),
      rgba(255, 226, 206, 0.26)
    )
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
_::-webkit-full-page-media, _:future, :root .main-article-border {
    display: none !important;
}
.top-of-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.main-article-header {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2em;
  text-align: center;
  color: #ffffff;
  max-width: 100%;
}
@media screen and (max-width: 650px) {
  .main-article-header {
    font-size: 4vh !important;
  }
}
.article-decorative-separator {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
  background-color: #DB9C6F;
  height: 5px;
  width: 60%;
  max-width: 230px;
  flex: none;
}
.main-article-subheader {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  /* line-height: 53px; */
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 650px) {
  .main-article-subheader {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 1024px) {
  .main-article-subheader {
    font-size: 24px !important;
  }
}
.article-categories {
  /* max-height: 850px; */
  background-color: white;
  justify-content: center;
  display: flex;
}
@media screen and (max-width: 650px) {
  .article-categories {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.scroll-down-icon {
  position: absolute;
  justify-self: center;
  top: calc(100vh - 80px);
  cursor: pointer;
}

.category-image {
  border-radius: 20px;
  height: 70vh;
  object-fit: cover;
  z-index: 0;
  position: relative;
  display: block;
}
.categories-wrapper {
  width: 80%;
  max-width: 1135px;
  padding-top: 80px;
  padding-bottom: 90px;
}
.is-category {
  padding: 0.5rem !important;
  display: grid;
}
.imgcat-wrapper {
  position: relative;
}
.imgcat-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 20px;
}
.category-icon {
  position: absolute;
  justify-self: center;
  z-index: 1;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.category-title {
  margin-top: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  /* identical to box height */
  text-align: center;
  color: #ffffff;
}
.weekly-articles {
  background-color: #181717;
  padding-top: 52px;
  padding-bottom: 152px;
  justify-content: center;
  display: flex;
}
.weekly-articles-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #ffffff;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
    .weekly-articles-title {
        font-size: 42px !important;
        line-height: 50px;
    }
}
.about-content {
    font-size: 24px;
}
.about-content p {
    margin-bottom: 30px;
}
.weekly-wrapper {
  width: 80%;
  max-width: 1135px;
}
.article-image {
  border-radius: 10px;
  height: 400px;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  position: relative;
  display: block;
}
.one-weekly-title {
  width: 100%;
  margin-left: 5%;
  margin-bottom: 2%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
}
.imgart-wrapper {
  position: relative;
}
.imgart-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  border-radius: 10px;
}
.is-article-entry:hover .dot {
  background-color: orange !important;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  transition: 0.3s;
}
.article-title {
  float: left;
  position: absolute;
  bottom: 30px;
  z-index: 100;
  padding: 5px;
  color: #ffffff;
  max-width: 90%;
  padding-left: 20px;
  padding-right: 20px;
}
.social-media-section {
  background-color: white;
  padding-top: 36px;
  padding-bottom: 54px;
  justify-content: center;
  display: flex;
}
.social-media-wrapper {
  width: 80%;
  max-width: 1135px;
}
.social-media-heading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 56px;
  margin-bottom: 16px;

  /* identical to box height */

  color: #000000;
}
.sm-icon {
  max-width: 96px;
  height: auto;
}
.calendar-background {
  width: 100%;
}
.calendar-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 26px;
}
.center-horizontally {
  display: flex;
  justify-content: center;
}
.calendar-content-container {
  position: relative;
  z-index: 1;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: url("/media/icons/calendar_background.jpg");
  background-size: cover;
}

.calendar-widget {
    margin-top: 100px;
    margin-bottom: 150px;
}

.calendar-overlay {
  margin-left: 80px;
  margin-right: 80px;
  background: rgba(0, 0, 0, 0.4);
  border: 3px solid rgba(255, 219, 192, 0.4);
  border-radius: 14px;
  padding-top: 80px;
  padding-bottom: 100px;
  width: 900px;
}
.is-calendar {
  width: 100%;
}
.main-calendar-content {
  display: flex;
  justify-content: center;
  width: 80%;
}
.is-inside-calendar {
  display: flex;
  justify-content: center;
}
.calendar-inner-content {
  display: flex;
  justify-content: center;
  min-height: 450px;
}
.separator-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  padding-left: 64px;
  padding-right: 64px;
}
.footer-wrapper {
  background-color: #181717;
  padding-top: 100px;
  padding-bottom: 135px;
  display: flex;
  justify-content: center;
  bottom: 0px;
}
.footer-content {
    width: 1135px;
    max-width: 80%;
}

.critics-copyright {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;

  color: #ffffff;
}
.critics-essential {
  margin-top: 36px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  max-width: 80%;
  color: #ffffff;
}
.sitemap-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 36px;
  color: #ffffff;
  cursor: pointer;
}
.social-media-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 36px;
}
.footer-sm-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 36px;
  cursor: pointer;
}
.footer-rubrics {
  width: 40%;
  margin-top: 32px;
}
.is-ft-rubric {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;

  /* identical to box height */

  color: #ffffff;
}
.is-ft-rubric:hover {
  color: white !important;
}
.left-padded {
  padding-left: 1.5rem;
}
.previous-month {
  background: rgba(255, 219, 192, 0.2);
  border-radius: 0px 14px 14px 0px;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 60px;
  padding-bottom: 74px;
  width: 800px;
  margin-left: -450px;
}
.calendar-slides-container {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  max-width: 100%;
  justify-content: space-between;
  margin-top: 206px;
  overflow: hidden;
}
.next-month {
  background: rgba(255, 219, 192, 0.2);
  border-radius: 14px 0px 0px 14px;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 60px;
  padding-bottom: 74px;
  width: 800px;
  margin-right: -450px;
}
.calendar-main {
  position: relative;
}
.calendar-title-container {
  position: absolute;
  z-index: 1;
  margin-top: 80px;
  width: 80%;
  max-width: 1135px;
}
.calendar-sep {
  background-color: #db9c6f;
  height: 5px;
  width: 100%;
}
.is-login {
  cursor: pointer;
}
@keyframes animatetop {
  from {
    top: 50vh;
    opacity: 0;
  }
  to {
    top: 20vh;
    opacity: 1;
  }
}
.login-header {
  display: flex !important;
}
.login-title {
  flex: 1;
}
.login-form {
  position: absolute;
  visibility: visible;
  top: 20vh;
  opacity: 1;
  background-color: white;
  border-radius: 12px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 48px;
  z-index: 100;
  min-width: 30vw;
  box-shadow: 0px 9px 30px rgba(128, 5, 153, 0.425);
  transition: visibility 0.5s, top 0.5s, opacity 0.5s linear;
}
.login-form.close {
  visibility: hidden;
  opacity: 0;
  top: 30vh;
  transition: visibility 0.5s, top 0.5s, opacity 0.5s linear;
}
.login-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #00000059;
  z-index: 99;
}
.login-overlay.close {
  display: none;
}
.login-wrapper {
  display: flex;
  justify-content: center;
}
.password-label {
  display: inline-flex;
  margin-top: 32px;
}
.username-label {
  display: inline-flex;
  margin-top: 32px;
}
.submit-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 24px;
}
@media screen and (max-width: 1135px) {
  .hide-mobile {
    display: none;
  }
}
@media screen and (min-width: 1135px) {
  .hide-desktop {
    display: none;
    width: 0px;
  }
}
@media screen and (min-width: 1135px) {
  .invisible-desktop {
    visibility: hidden;
    width: 0px;
  }
}
@media screen and (max-width: 1135px) {
  .is-mobile-fullwidth {
    max-width: 100vw;
  }
}
.is-noisy {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  filter: contrast(100%) brightness(100%);
  background: linear-gradient(
      to bottom right,
      rgba(71, 71, 71, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("/media/icons/noise.svg");
}

.calendar-header-and-arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mobile-calendar-toggle {
    height: 100%;
    margin-top: 16px;
}