{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Критика</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/app.css" />
  </head>

  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item header-logo" href="/"> </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/"> На главную </a>

          <a class="navbar-item"> Афиша </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Статьи </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/books/"> Книги </a>
              <a class="navbar-item" href="/music/"> Музыка </a>
              <a class="navbar-item" href="/cinema/"> Кино </a>
              <a class="navbar-item" href="/theatre/"> Театр </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-black is-rounded">
                <strong>Зарегистрироваться</strong>
              </a>
              <a class="button is-light is-rounded"> Войти </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}
  </body>
</html>
